doctype html
html
  //Formulario para creaci贸n de usuarios
  head
    title Iniciar Sesi&oacute;n
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // Versi贸n mas reciente compilada y comprimida de CSS
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    // Libreria jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    // Popper JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    // Versi贸n mas reciente compilada de JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    // CSS
    link(rel='stylesheet' href='../stylesheets/style.css')
    script(src="https://kit.fontawesome.com/f3aa300ae3.js" crossorigin="anonymous")
    script
      include ../../public/javascripts/jquery.js
  body
    nav.navbar.navbar-expand-lg.navbar-light
      a.navbar-brand(href='#') Uniscan
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/menu') PRODUCTO
          li.nav-item
          li.nav-item
            a.nav-link(href='/logout') Cerrar Sesi贸n
    block content
