extends layout

block content  
  h1.h1Login Iniciar Sesión
  .container-fluid
    form.form-3
      p.clearfix
        label(for='login') Nombre de Usuario
        input#login(type='text' name='login' placeholder='Nombre de Usuario')
      p.clearfix
        label(for='password') Contraseña
        input#password(type='password' name='password' placeholder='Contraseña')
      p.clearfix
        input#remember(type='checkbox' name='remember')
        label(for='remember') Recuérdame
      p.clearfix
        input(type='submit' name='submit' value='Iniciar Sesión')
