extends layout
block content
    .container.col-sm-5.form-group-lg
        form.text-center.p-5.text-light.justify-content-center(action='#!' )
            p.h2.mb-5 NUEVO PRODUCTO
            .form-group
                label.control-label.col-sm-3(for="codigo") Código:
                input#codigo.form-control.mb-3(type='text' placeholder='Codigo' name='codigo')
            .form-group
                label.control-label.col-sm-3(for="nombre") Nombre:
                input#nombre.form-control.mb-3(type='text' placeholder='Nombre' name='nombre')
            .form-group  
                label.control-label.col-sm-3(for="descripcion") Descripción:
                textarea#descripcion.form-control.mb-3(type='text' placeholder='Descripcion' name='descripcion' cols="30", rows="5")
            .form-group
                label.control-label.col-sm-3(for="precio") Precio:
                input#precio.form-control.mb-5(type='text' placeholder='Precio' name='precio')

            button.btn.btn-primary.btn-block(type='submit') Send

