extends layout
block content
    -if (flag)
        .alert.alert-success(role="alert") #{mensaje}
        p.text-black.text-center #{error}
    -if (mensaje != undefined && !flag)
        .alert.alert-danger(role="alert") #{mensaje}
        p.text-black.text-center #{error}
    .container.col-sm-5.form-group-lg
        form.text-center.p-4.text-light.justify-content-center(action='/nuevoProducto' method='post' role='form' id="uploadForm")
            p.h2.mb-3 NUEVO PRODUCTO
            .form-group
                label.control-label.col-sm-3(for="codigo") Código:
                input#codigo.form-control.mb-3(type='text' placeholder='Codigo' name='codigo' required)
            .form-group
                label.control-label.col-sm-3(for="nombre") Nombre:
                input#nombre.form-control.mb-3(type='text' placeholder='Nombre' name='nombre' required)
            .form-group  
                label.control-label.col-sm-3(for="descripcion") Descripción:
                textarea#descripcion.form-control.mb-3(type='text' placeholder='Descripcion' name='descripcion' cols="30", rows="5" required)
            .form-group
                label.control-label.col-sm-3(for="precio") Precio:
                input#precio.form-control.mb-5(type='number' placeholder='Precio' name='precio' min='0' max='50000'  step='0.01' required)
            .form-group
                button.btn.btn-success.openUpdate.space(type='button' href='#updateImage' data-toggle='modal') Agregar Imagen
            button.btn.btn-primary.btn-block(type='submit' ) Enviar

    #updateImage.container-fluid.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header 
                        h4.modal-title Ingresar Imagen
                        button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                    .modal-body
                        form.form-horizontal(action='/uploadImage' method='post' role='form')
                            .form-group
                                input#codigo(type="file" value="" name="file")
                            .form-group
                                button.btn.btn-danger(type='submit') Subir